.main{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}
.child{
    border: 2px solid black;
    text-align: center;
    height:320px;
    width:320px;
    padding:10px;
    border-radius:10px;
}
.child:hover{
   
    background-color: thistle;
}
.welcome{
    text-align: center;
    color: blue;
    margin-top: 50px;
}