.main{
    margin-top:20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}
.child{
    border: 2px solid black;
    text-align: center;
    height:420px;
    width:420px;
    padding:10px;
    border-radius: 10px;
}
.child:hover{
    scale:0.93;
    background-color: thistle;
}
.welcome{
    text-align: center;
    color: blue;
    margin-top: 50px;
}